---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}'); margin-bottom: 0px !important;">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Translating Across Boundaries</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid bg-secondary text-light p-5">
      <div class="row align-items-center">
          <div class="col-lg-8 col-md-10 mx-auto">
                <a href="/why" style="text-decoration: none; color: white;" >
                <h1 class="display-3">Why</h1>
                <h3>teach interdisciplinary courses?</h3>
                </a>
                <p>
                    Interdisciplinary courses and learning are a prominent trend across the scholarship of teaching and learning, as well as academia at large.  Before disentangling what constitutes effective interdisciplinary learning, and how to achieve that, it’s worth stepping back and asking: why be interdisciplinary at all? What about interdisciplinarity is useful and important to students? Why not stick with more traditional disciplinary studies? <a class ="text-light" href="/why" >(Read More...)</a>
                </p>
              
          </div>
      </div>
  </div>

  <div class="container-fluid bg-dark text-light p-5">
      <div class="row align-items-center" >
          <div class="col-lg-8 col-md-10 mx-auto">
                <a href="/what" style="text-decoration: none; color: white;" >
                <h1 class="display-3">What</h1>
                <h3>creates interdisciplinary learners?</h3>
                </a>
                <p>
                    There are several levels to interdisciplinary learning: students may experience it by taking a class that combines several subjects, or be a part of a program that is intentionally interdisciplinary, such as the Bren school, or even attend a liberal arts college where they become interdisciplinary through the nature of their coursework <a class ="text-light" href="/what" >(Read More...)</a>
                </p>


          </div>
      </div>
  </div>

  <div class="container-fluid bg-secondary text-light p-5">
      <div class="row align-items-center" >
            <div class="col-lg-8 col-md-10 mx-auto">
                <a href="/how" style="text-decoration: none; color: white;" >
                    <h1 class="display-3">How</h1>
                    <h3>to prepare students for interdisciplinary research?</h3>
                </a>
              <p>
                  We know that communication and group work with people from diverse backgrounds are key components of interdisciplinary learning and research, but how do we logistically make this happen? Whether the goal is to teach an interdisciplinary course or creating a team of physical scientists, economists, and political scientists to investigate an environmental issue, there are several steps that can be taken to have a successful outcome. 
                  <a class ="text-light" href="/how" >(Read More...)</a>
              </p>
          </div>
      </div>
  </div>


