---
layout: empty
---


<div id="canvas"></div>
  <div class="container-fluid d-flex justify-content-center text-dark mh-100 flex-direction: column" style="min-height: 100vh;">
      
      <div class="row min-vw-100 align-self-center">
          <div class="col-lg-8 col-md-10 mx-auto" >
              <div class="d-flex flex-column">
                  <div class="p-2 align-self-center">
                      
                      <h1  class="display-2"> Ehsan Sayyad</h1>    
                  </div>
                  <div class="p-2 align-self-center mt-5">
                      <h4 class="display-4"> <a href="./projects"> Projects</a> </h4>    
                  </div>
                  <div class="p-2 align-self-center">
                      <h4 class="display-4"> <a href="./resume">Résumé</a> </h4>    
                  </div>
                </div>
                          
          </div>
      </div>
  </div>

  <style>
  #canvas{
  position: fixed;
  width:100vw;
  height:100vh;
  margin: 0;
  padding: 0;
  }
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js" integrity="sha256-Wua0LsQkGDEeIkbmBNjj9wcThJh5uCD6R8+5YQhXveQ=" crossorigin="anonymous"></script>
  <script>
			if ( window.innerWidth === 0 ) { window.innerWidth = parent.innerWidth; window.innerHeight = parent.innerHeight; }
							
              var camera, scene, renderer;
              var geometry, material, mesh;
        
              init();
              animate();
        
              function init() {
                
                camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 2, 1000 );
                camera.position.z = 600;
                camera.position.y = -280;
        
                scene = new THREE.Scene();
        
                geometry = new THREE.IcosahedronGeometry( 100, 1 );
                material = new THREE.MeshBasicMaterial( { color: 0x000000, wireframe: true, wireframeLinewidth: 1 } );
        
                mesh = new THREE.Mesh( geometry, material );
                scene.add( mesh );
        
                renderer = new THREE.WebGLRenderer( { antialias: true } );
				        renderer.setClearColor( 0xffffff );
                renderer.setSize( window.innerWidth, window.innerHeight );
                var container = document.getElementById( 'canvas' );
                container.appendChild( renderer.domElement );
        
              }
        
              function animate() {
        
                requestAnimationFrame( animate );
        
                mesh.rotation.x += 0.002;
                mesh.rotation.y += 0.003;
        
                renderer.render( scene, camera );
        
              }        
    
  </script>



