---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="mastheadDark" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}');">
  {% else %}
  <header class="mastheadDark">
    {% endif %}
    <div class="overlay"></div>
    <div class="container post-heading my-auto pb-0 " style="padding-top:100px">  
    <div class="row ">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="row ">
                <div class="col my-auto">
                </div>
                <div class="col">
                  <h1 class="display-4">
                    {{ page.title }}
                  </h1>
                </div>
              </div>
              <div class="row">
                <div class="col pt-2">
                  <p >
                    <img src="{{ page.profile }}" alt="portrait" width="100%">
                  </p>
                </div>
                <div class="col">
                  <p> 
                  <small>
                    {{ page.bio }} 
                  </small>
                  </p>
                </div>
              </div>
        </div>
    </div>
     
    </div>

  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Interview</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
                Interview</span> &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>




  </div>
